$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

/* Text & Bg */
$verydarkblue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(200, 100%, 99%);

/* Typography */
$fw-200: 200;
$fw-400: 400;
$fw-600: 600;

$fs-16: 1rem;
$fs-26: 1.6rem;
$fs-35: 2.2rem;

$m-t-b-75: 4.7rem;

$clr-border-top: 0.25rem;
